@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    color: #292C35;
    display:flex;
    flex-direction: column;
}
/* 다크모드 변화 */
body.dark{
    background-color: #292C35;
    color: rgb(230, 230, 230);
}
body.dark .background{
    opacity:0;
}
body.dark .contact{
    background-color: #292C35;
    color: rgb(230, 230, 230);
}
body.dark .cloud{
    opacity:0;
}
body.dark .home-title{
    text-shadow: 0 0 .1em, 0 0 .4em rgb(255, 252, 235);
    color: rgb(230, 230, 230);
}
body.dark .menu a{
    text-decoration: none;
    color: rgb(230, 230, 230);
}
body.dark .contact-items{
    background-color: #292C35;
}
body.dark .contact-items a{
    color: rgb(230, 230, 230);
}
body.dark .navbar-main{
    background-color: rgba(41,44,53);
}
body.dark .navbar-right{
    background-color: rgba(41,44,53,0.8);
}
body.dark .mobile-contact-items a{
    color: rgb(230, 230, 230);
}
body.dark .navbar-toggleBtn{
    color: rgb(230, 230, 230);
}
/* 상단 navbar 영역 */
.navbar-main{
    display: flex;
    justify-content: space-between;
    position:fixed;
    width: 100vw;
    margin: 0px;
    height: 80px;
    z-index:4;
    background-color: transparent;
}
/* 다크모드 버튼 영역 */
.navbar-left{
    display:flex;
    align-items:center;
    left:5%;
    position:relative;
}
.darkmode-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50px;
    height: 26px;
    background-color:gray;
    border-radius: 50px;
    transform: scale(1.5);
    position: relative;
}
.ball{
    position:absolute;
    background-color: white;
    border-radius:50%;
    width:22px;
    height:22px;
    top:2px;
    left:2px;
    transition: transform 0.2s ease-out;
}
.checkbox:checked + .darkmode-btn .ball{
    transform: translateX(24px);
}
.fa-moon{
    color:#f1c40f;
}
.fa-sun{
    color: #f39c12;
}
.checkbox{
    display:none;
}
/* nav바 오른쪽 메뉴 영역 */
.navbar-right{
    display: none;
    flex-wrap:wrap;
    justify-content: space-evenly;
    position:relative;
    margin-right: 2%;
}
.menu{
    display:flex;
    align-items: center;
    margin-right:2px;
    padding-left:0px;
}
.menu a{
    text-decoration: none;
    color:#292C35;
}
.menu a:hover{
    color:#8aaac8;
}
.menu-item{
    display: inline;
    font-family: 'GmarketSansLight';
    /* color: white; */
    padding:8px;
    text-decoration: none;
    font-weight: bold;
}
/* 모바일/태블릿 contact 정보 영역 */
.mobile-contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50%;
}
.mobile-contact-items{
    display:flex;
    justify-content: space-evenly;
    width:30%;
    padding-left:0px;
}
.mobile-contact-items a{
    text-decoration:none;
    color:#292C35;
    flex-basis: 30px;
    text-align: center;
    margin-right:10px;
}
.mobile-contact-mail{
    display:flex;
    justify-content: center;
    width:50%; 
}
.mobile-contact-mail i{
    display:flex;
    align-items:center;
    margin-right:10px;
}
/* 토글 메뉴 버튼 영역 */
.navbar-toggleBtn{
    position:absolute;
    right: 32px;
    top:10px;
    font-size:28px;
    color:#292C35;
}
.navbar-toggleBtn:hover{
    color: #8aaac8;
}
.navbar-right.active{
    display:flex;
}
/* contact 버튼 영역 */
.contact-label{
    display: flex;
    align-items: center;
    font-family: 'GmarketSansMedium';
    flex-grow:1;
    justify-content:flex-end;
    position:relative;
}
.contact-label:hover{
    color: rgb(144, 133, 98);
}
.contact-btn{
    display:none;
}

/* contact 영역 */
.contact{
    display: flex;
    flex-direction: column;
    color: #292C35;
    background-color: rgb(255, 255, 255);
    width:300px;
    max-height: 100vh;
    padding-top:20px;
    position: fixed;
    top:0px;
    right:0px;
    bottom:0px;
    transform: translate(100%);
    transition: 0.7s ease;
    z-index: 6;
    overflow-y: scroll;
    font-family: 'GmarketSansMedium';
}
.close-label{
    position: absolute;
    right:10px;
    color:gold;
}
.close-label:hover{
    opacity:50%;
}
.contact h1{
    display:flex;
    justify-content: center;
}
.close-btn{
    display:none;
}
.contact-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-img-box{
    width:200px;
    height: 200px;
    border-radius: 70%;
    overflow: hidden;
}
.profile-img{
    width: 100%;
    object-fit: cover;
}
.contact-items{
    background-color: rgb(236, 236, 236);
    padding:10%;
    height:100%;
}    
.contact-items a{
    color: #292C35;
    display:flex;
    align-items: center;
    text-decoration-line: none;
}
.contact-items a:hover{
    color:rgb(142, 129, 104);
}
.contact-items a i{
    display:flex;
    flex-basis:15%;
    justify-content: center;
}
.contact-items a span{
    padding-left:1em;
}
.contact-item{
    padding-top:1em;
}
.contact-mail{
    display:flex;
    align-items: center;
    padding-top: 1em;
}
.contact-mail i{
    display:flex;
    justify-content: center;
    flex-basis: 15%;
}
.contact-mail span{
    padding-left:1em;
    font-size:medium;
}

/* Home 영역 */
/* 배경 그라데이션 애니메이션 */
@-webkit-keyframes bgGradation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes bgGradation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes bgGradation {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
.home{
    display: flex;
    align-items: center;
    max-width:100vw;
    min-height: 100vh;
    position:relative;
}
#background-home{
    background: linear-gradient(226deg, #ffefcb, #b9e4ff, #b9d8ff, #daccff);
    background-size: 800% 800%;
    -webkit-animation: bgGradation 56s ease infinite;
    -moz-animation: bgGradation 56s ease infinite;
    animation: bgGradation 56s ease infinite;
    z-index:-1;
}
.home-title{
    font-family: 'GmarketSansLight';
    font-size:45px;
    margin-left:5%;
    margin-top:10%;
    margin-bottom:10%;
    z-index: 1;
    max-width: 100%;
    height:auto;
    color:#292C35
}

.cloud{
    position: absolute;
    opacity: 50%;
    z-index: 0;
    transition: 1s ease-out;
}
.cloud01{
    right: 0px;
    bottom: 0px;
    width: 50vw;
}
.cloud02{
    left:0px;
    bottom: 0px;
    width: 55vw;
}
.cloud03{
    right:0px;
    width:25vw;
}


/* about 영역 */
.about{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    min-height:100vh;
}
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-major{
    font-family: 'GmarketSansMedium';
    display: flex;
    justify-content: center;
    flex-basis:20%;
    padding:3%;
}
.about-details{
    display: flex;
    /* flex-basis:50%; */
    justify-content: center;
    padding-top:3%;
    flex-wrap: wrap;
    flex-grow:1;
}
.about-detail{
    font-family: 'GmarketSansLight'; 
}
.about-left{
    display:flex;
    flex-direction: column;
    flex-basis: 40%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right:2%;
}
.about-right{
    flex-basis: 30%;
    display:flex;
    justify-content: flex-start;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right:2%;
    border-left-style: dotted;
    border-left-color: gainsboro;
}
.left-group{
    display:flex;
    margin-left:3%;
    margin-right:3%;
    flex-flow:column wrap;
    flex-grow:1;
}
.right-group{
    display:flex;
    margin-left:3%;
    margin-right:3%;
    flex-flow:column wrap;
    flex-grow:1;
}
.studying{
    display:flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom:3%;
    border-bottom-style:dotted;
    border-bottom-color:gainsboro;
}
.studying-title{
    font-family: 'GmarketSansMedium';
    display:flex;
    flex-basis:20%;
    flex-grow:1;
}
.studying-container{
    flex-basis:80%;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow:1;
}
.interest{
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding-top:3%;
    margin-bottom:3%;
}
.interest-title{
    font-family: 'GmarketSansMedium';
    display:flex;
    flex-basis:20%;
    flex-grow:1;
}
.interest-container{
    flex-basis:80%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-grow:1;
}
.interest-item{
    display:flex;
}
.interest-item i{
    flex-basis: 15%;
    align-items:center;
    justify-content: center;
    display:flex;
}
.interest-item span{
    font-family: 'GmarketSansMedium';
    flex-basis: 70%;
    align-items:center;
    display:flex;
}
.experience{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.experience-title{
    font-family: 'GmarketSansMedium';
}
.background{
    position:absolute;
    width:100%;
    height:100%;
}
/* projects 영역 */
.projects{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    min-height:100vh;
}
.projects-container{
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    padding: 3%;
    font-family: 'GmarketSansMedium';
}
/* 전체 적용 */
.section-title{
    display:flex;
    justify-content: center;
    font-family: 'GmarketSansBold';
    margin-top: 80px;
    font-family: 'GmarketSansMedium';
}
.section-title h1{
    border-bottom-style:solid;
    border-bottom-color:#7aabd8;
    border-top-style:solid;
    border-top-color:#7aabd8;
    padding-left:1em;
    padding-right:1em;
    font-family: 'GmarketSansBold';
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    font-size:x-large;
}
p, li,h3,span{
    font-size: larger;
}

@media (max-width:1023px){
    .home-title{font-size:40px}
}
@media (max-width:767px){
    .home-title{font-size:35px}
}
@media (max-width:639px){
    .home-title{font-size:25px}
}
