@media only screen and (max-width: 767px) {
  .navbar-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-main {
    background-color: transparent;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-left {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-left {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0px 25px 0px;
    position: absolute;
    top: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 30vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-right {
    position: absolute;
    top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0px 30px 0px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 18vh;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    margin: 0px 0px 0px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin: 0px 0px 0px 0px;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (max-width: 767px) {
  .menu-item {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu-item {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-contact {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile-contact {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-contact-items {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-contact-items {
    width: 70%;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-contact-items a {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-contact-items a {
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-contact-mail {
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {
  .contact-label {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-label {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-toggleBtn {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .contact {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .about-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .about-right {
    border-top-style: dotted;
    border-top-color: gainsboro;
    border-left: none;
    margin: 0% 2% 0% 2%;
  }
}
/*# sourceMappingURL=mixin.css.map */